{% extends 'base.html' %}
{% block content %}
 <div>
 	<div>
 		<form action="" method="post">
 			{% csrf_token %}
 			{{ form.as_p }}
 			<input type="submit">
 		</form>
 	</div>
 	<div>
 		<h2>Features</h2>
 	</div>
 	<div>
 		<ul>
 			<li>Lorem ipsum dolor sit amet</li>
 			<li>Lorem ipsum dolor sit amet</li>
 			<li>Lorem ipsum dolor sit amet</li>
 			<li>Lorem ipsum dolor sit amet</li>
 			<li>Lorem ipsum dolor sit amet</li>
 		</ul>
 	</div>
 	<div>
 		<ul>
 			<li>Lorem ipsum dolor sit amet</li>
 			<li>Lorem ipsum dolor sit amet</li>
 			<li>Lorem ipsum dolor sit amet</li>
 			<li>Lorem ipsum dolor sit amet</li>
 			<li>Lorem ipsum dolor sit amet</li>
 		</ul>
 	</div>
 </div>
{% endblock content %}
 